.container {
    height: 50%;
    display:flex;
    justify-content:flex-start;
    align-items: center;
}

.graphInfo {
    background-color:white;
    height: 90%;
    width: 98%;
    /* display:flex;
    justify-content: center; */
    background-size:cover;
}
